<div class="topnav">
    <div class="dropdown">
        <button class="dropbtn">Job Orders</button>
        <div class="dropdown-content">
            <a>Dashboard</a>
<%= link_to 'Departments Job Orders', job_orders_path %>
<%= link_to 'New Job Order', new_job_order_path %>
        </div>
    </div>
    
    <div class="dropdown">
        <button class="dropbtn">Budget</button>
        <div class="dropdown-content">
            <a>Approved Budget</a>
            <a>Realign Budget</a>
        </div>
    </div>
    
    <div class="dropdown">
        <button class="dropbtn">My Materials Requests</button>
        <div class="dropdown-content">
            <a>Purchase Requests</a>
            <a>Supply Widthdrawal Requests</a>
        </div>
    </div>
<span>Contact</span>
<span>Reports</span>
<span>Sign Out</span>
</div>